@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url('/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  /*background-color: #f3f4f6;*/
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

/* Form transitions */
input, textarea {
  transition: all 0.2s ease;
}
